
.idea/
node_modules/
.pynb_checkpoints
*.iml
.vscode/
.DS_Store
__pycache__/
yarn.lock
yarn-error.log
*.lock
package-lock.json
.pytest_cache
cmake-build-debug
web-ext-artifacts
target/
.vsconfig
*.svd
*.booproj
*.app
.Spotlight-V100
Library/
ehthumbs.db
Temp/
1/
*.sln
*_DoNotShip
.DS_Store?
*.suo
*.unitypackage
._*
Thumbs.db
*.apk
*_BurstDebugInformation_DoNotShip
.vs/
*.unityproj
*.csproj
*.pidb
*.userprefs
*.exe
*.user
ExportedObj/
Logs/
obj/
.Trashes
dist/